*{
box-sizing: border-box;
}

@font-face {
font-family: "SF Pro Display";
src: url('../fonts/SF-Pro-Display-Regular.otf') format("truetype");
font-weight: 400;
}
@font-face {
font-family: "SF Pro Display";
src: url('../fonts/SF-Pro-Display-Medium.otf') format("truetype");
font-weight: 500;
}
@font-face {
font-family: "SF Pro Display";
src: url('../fonts/SF-Pro-Display-Semibold.otf') format("truetype");
font-weight: 600;
}
@font-face {
font-family: "SF Pro Display";
src: url('../fonts/SF-Pro-Display-Bold.otf') format("truetype");
font-weight: 700;
}

body {
font-family: "SF Pro Display";
height: 100vh;
width: 100vw;
margin: 0;
padding: 20px;
display: inline-flex;
}

.login {
padding: 24px;
height: 100%;
}

.login .title-row {
display: flex;
align-items: center;
gap: 8px;
font-weight: 600;
font-size: 24px;
color: #1B1B1B;
}

.title-row img {
height: 32px;
width: 32px;
}

.login .welcome {
display: flex;
flex-direction: column;
gap: 8px;
}

.welcome .welcome-title {
font-weight: 600;
font-size: 32px;
color: #1B1B1B;
}

.welcome .welcome-sub {
font-weight: 400;
font-size: 16px;
color: #B7B7B7;
}

.login-form {
display: flex;
flex-direction: column;
}

.login-form label {
font-weight: 500;
font-size: 20px;
color: #1B1B1B;
margin-bottom: 8px;
}

.login-form input {
border-radius: 64px;
padding: 16px 20px;
border: 1px #E1E1E1 solid;
}

.login-form input ::placeholder {
font-weight: 400;
font-size: 20px;
color: #B7B7B7;
}

.login-form button {
padding: 16px;
border-radius: 64px;
background-color: #FFC300;
border: 0;
font-weight: 500;
}

.display-image{
border-radius: 20px;
height: 100%;
width: 100%;
background-image: url('../assets/example.png');
background-size: cover;
background-position: center;
}