html {
	font-size:55%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

body {
  width: 144rem;
  overflow: hidden;
  margin: auto;
}

.login {
  box-sizing: border-box;
  padding-right: 3rem;
  padding-left: 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.loginFrame {
  margin-top: auto;
  box-sizing: border-box;
  padding: 8rem 4.4rem 46.8rem 4.4rem;
  width: 56rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}

.logoFrame {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding-right: 28.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}

.logo-jti {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.webName {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: 'SF Pro Display', 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.loginSubFrame1 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.loginSubFrame2 {
  margin-bottom: 4.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sambutan {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.greeting {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: 'SF Pro Display', 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.kalimat-sambutan {
  max-width: 45.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #b6b6b6;
  font-family: 'SF Pro Display', 'Source Sans Pro';
  flex-shrink: 0;
}

.loginForm {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.usernameForm {
  margin-bottom: 1.6rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.username {
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: 'SF Pro Display', 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.passwordForm {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.password {
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: 'SF Pro Display', 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.usernameForm .input-field,
.passwordForm .input-field {
  box-sizing: border-box;
  padding: 1.6rem 2rem 1.4rem 2rem;
  width: 95%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: 'SF Pro Display', 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e1e1e1;
  background-color: #ffffff;
  border-radius: 6.4rem;
  flex-shrink: 0;
  position: relative; /* Menetapkan posisi relatif untuk menetapkan posisi anak-anaknya */
}

.login .loginFrame .loginSubFrame1 .loginSubFrame2 .loginForm .passwordForm .inputPass .fa-eye .fa-eye-slash{
  position: absolute;
  margin-bottom: 0.2rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  
}

.fa-eye{
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 41.8%;
  right: 67.2%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem; /* Sesuaikan ukuran ikon sesuai kebutuhan */
  color: #b6b6b6;
  z-index: 3;
}

.login .loginFrame .loginSubFrame1 .loginSubFrame2 .loginForm .passwordForm .inputPass .fa-eye-slash{
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 41.8%;
  right: 67.2%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem; /* Sesuaikan ukuran ikon sesuai kebutuhan */
  color: #b6b6b6;
  z-index: 3;
}

/* Styling icon when password is visible */
.fa-eye.show-password {
  display: none;
}

/* Styling icon when password is hidden */
.fa-eye-slash.hide-password {
  display: block;
}

button.submit {
  width: 90%;
  height: 5.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  font-family: 'SF Pro Display', 'Source Sans Pro';
  align-items: center;
  justify-content: center;
  background-color: #ffc300;
  border-radius: 6.4rem;
  /* transition: outline-color 0.3s ease; Efek transisi untuk perubahan warna outline */
  outline: none;
  margin-right: 16px; 
  cursor: pointer;
}

/* .login .loginFrame .loginSubFrame1 .submit:active {
  outline-color: #ffaa00; 
} */

.gambar {
  width: 100%; /* Menggunakan lebar 100% untuk responsif */
  max-width: 85rem; /* Menetapkan batasan lebar maksimum */
  overflow: hidden;
  position: relative;
  background-color: #1b1b1b;
  border-radius: 2rem;
  flex-shrink: 0;
  margin-top: -300px;
  right: 1.5%;
}

.canteenPict {
  width: 100%; /* Menggunakan lebar 100% untuk responsif */
  height: auto; /* Menetapkan ketinggian ke otomatis agar tetap proporsional */
  object-fit: cover;
  vertical-align: top;
}
